@import "./_variables.scss";

a {
  color: $linkColor;
}

.navbar {
  min-height: 80px;
  @include flex-btw-ctr;
  padding: 0 24px;
}

.nav-menu {
  @include flex-btw-ctr;
  gap: 60px;
}
.nav-logo {
  font-size: 32px;
}
.nav-link {
  font-size: 20px;
  transition: 0.7s ease;
}
.nav-link:hover {
  color: $linkColor--hover;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px auto;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  background-color: $linkColor--hover;
}

@include tablet {
  .hamburger {
    display: block;

    &.active .bar:nth-child(2) {
      opacity: 0;
    }
    &.active .bar:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }
    &.active .bar:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: $textColorFooter;
    width: 50%;
    text-align: center;
    transition: all 0.4s ease;

    &.active {
      left: 0;
    }
  }
  .nav-item {
    margin: 20px 0;
  }
}
