@import "./_variables.scss";

.page-container {
  margin: 0 auto; /* 1 */
  max-width: 1200px; /* 2 */
  padding: 0 10px; /* 3 */
}
.main {
  margin-top: 40px;
  &__title {
    text-align: center;
    text-transform: uppercase;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 45px;

    &-item {
      display: grid;
      grid-template-columns: 30% 70%;
    }
  }
}
.main__item__title {
  font-size: 20px;
  margin-bottom: 1rem;

}
.main__grid {
  margin-top: 40px;
}
.section {
  margin-top: 40px;
  .section__shots__gallery > img {
    max-width: 100%; //todo супер свойство для адаптивности картинок: сжимаются пропопрционально ширине экрана

  }

  &__shots {
    display: flex;
    flex-direction: column;
    // align-items: center;

    &__titles {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 10px;
    }
  }
}

@media (max-width: 1120px) {
  .main__grid {
    grid-template-columns: 1fr;
    justify-items: right;
  }
  .section__shots__gallery > img {
    max-width: 100%;

  }
}
@media (max-width: 610px) {
  .main__grid {
    justify-items: center;
    margin-top: 30px;
  }
  .section__shots__gallery{
    grid-template-columns: repeat(2, 1fr);
  }

  .main__title {
    font-size: 20px;
  }

  .main__grid-item {
    grid-template-columns: 100%;

    & img {
      width: 240px;
      height: 210px;
      object-fit: cover;
    }
  }
  .main__item__title {
    font-size: 1rem;
    margin-top: 25px;
  }
  .main__item__subtitle,
  .main__item__text {
    display: none;
  }
  .section__shots__firstTitle, .section__shots__secondTitle {
    font-size: 1.2rem;
  }
}
@include mobile {
  .main__title {
    font-size: 1rem;
  }
  .main__grid {
    margin-top: 20px;
  }
  .section__shots {
    align-items: center;
  }
  .section__shots__gallery{
    grid-template-columns: 1fr;

  }
  .section__shots__firstTitle, .section__shots__secondTitle {
    display: none;
  }
}
